


ul{padding: 10px;}
ul, li {
    text-align: left;
    list-style: none;
  }
  

 
  
  .message {
    display: flex;
    align-items: center;
    word-break: break-all;
    p {
    
      max-width: 500px;
      margin-bottom: 12px;
      line-height: 24px;
      padding: 10px 20px;
      border-radius: 25px;
      font-size: 15px;
      position: relative;
      color: white;
      text-align: center;
    }


  }
  $sent_blue: rgba(43, 169, 201, 0.664);
  $recieved_blue: rgba(51, 209, 248, 0.864);
  
  $sent_green: rgb(23, 161, 69);
  $recieved_green: rgb(109, 201, 126); 
  
  $sent_pink: rgb(175, 65, 116);
  $recieved_pink: rgb(211, 131, 191); 

@mixin sent_flex ($color) {
  flex-direction: row-reverse;
    p {
      color: white;
      align-self: flex-end;
      background: $color;
    }
}
  
  .sent_BLUE_THEME {
    @include sent_flex($sent_blue);
  }
  
  .received_BLUE_THEME p {
    color: black;
    background: $recieved_blue;
  }

  .sent_GREEN_THEME {
    @include sent_flex($sent_green);
  }
  
  .received_GREEN_THEME p {
    color: black;
    background: $recieved_green;
  }

  .sent_PINK_THEME {
    @include sent_flex($sent_pink);
  }
  
  .received_PINK_THEME p {
    color: black;
    background: $recieved_pink;
  }

  // nastavi isto ovako
  



  .message > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;

  }
  .displayName{
      color: rgb(165, 165, 165);
      margin-left: 50px;
      font-size: 15px;
  }


  @media only screen and (max-width: 452px) {
 
    .message p {
      font-size: 14px;
    }
    .displayName{
      font-size: 14px;
    }
    .message > img{

      width: 35px;
      height: 35px;
    }
  
  }

  @media only screen and (max-width: 360px) {
    .message p {
      font-size: 13px;
    }
    .displayName{
      font-size: 13px;
    }
  }