@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
.frame {
    z-index: 100;
    min-width: 300px;
    max-width: 350px;
    height: 250px;
    background-color: rgb(23, 151, 119);
    border-radius: 10px;
    position: fixed;
    top: 500px;
    left: 0;
    transform: translate(-50%, -50%);

    button{
        width: 100px;
        height: 45px;
        top: 70px;
        position: relative;
        border-radius: 10px;
        border: none;
        background-color: rgba(70, 72, 73, 0.445);
        color: white;
        font-family: 'Share Tech Mono', monospace;
        
        }
        p{
            color: white; 
            top: 10%;
            position: relative;
            padding: 10px 30px 10px 30px;
            text-align: center;
            background-color: rgba(99, 97, 95, 0.514);
            font-family: 'Share Tech Mono', monospace;
        }

  }
  .close{
    position: relative;
    width: 100%;
    text-align: right;
    top: 10px;
    right: 15px;
    color: rgba(185, 14, 14, 0.664);
    svg {
        transform: scale(2);
        transition: 0.3s;
        &:hover{
            cursor: pointer;
            transform: scale(2.1);
        }
    }
    
}

.center{
    width: 100%;
    text-align: center;
    height: 80%;

    
}
  
 