.error-container{
    width: 100%;
    min-height: 4vh;
    line-height: 4vh;
    position: relative;
    background-color: rgb(95, 30, 30);
    text-align: center;
 
    vertical-align: middle;
    p {
        color: white;
    
       
    }

}
