@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
.video-container{
    max-width: 100%;
    min-height: 500px;
    margin-top: 20px;
   text-align: center;
  overflow: hidden;
    position: relative;

    p {
        margin-top: 5px;
         color: white;
         text-align: left;
         font-family: 'Share Tech Mono', monospace;
         margin-left: 100px;
     }
     img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 2px 5px;   
}

}


.video{
   top: 10px;
    width: 80%;
    height: 400px;
    border-radius: 20px;
    position: relative;
   
 
}


  @media only screen and (max-width: 638px) {
    .video {
        width: 90%;
        height: 300px;
    }
    .video-container{
        min-height: 350px;

    }
    .video-container p{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
  }

  @media only screen and (max-width: 402px) {
    .video {
        width: 90%;
        height: 200px;
    }
    .video-container{
        height: 250px;

    }
    .video-container p{
       font-size: 12px;
    }
  }
    
  .queue{
    max-width: 100%;
    min-height: 200px;
    max-height: 220px;
     margin: 0;
    background-color: rgba(68, 163, 163, 0.295);
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow-y: scroll;

    p {
        color: rgb(255, 255, 255); 
     }

    img{
    
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 2px 5px;
        transform: scale(0.8);
     
    }

   & > p {
        font-size: 12px;
    }

  } 
  

.add-track-button{
    display: inline-block;
}


.playbox{
    height: 50px;
    width: 50px;
    background-color: rgb(177, 178, 179);
    position: relative;
    
}
.queue-container{
    font-family: 'Share Tech Mono', monospace;
    & > p {margin-top: 50px;
        color: white;
        display: inline-block;
        
        }
}
.volume{
    width: 100%;
    
}