.image-container{
    width: 70%;
    left: 15%;
    height: auto;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    
}
.image-container img{
    width: 90%;
    height: auto;
    border-radius: 0px;
   position: relative;
   border: 1px solid rgb(122, 122, 122);
  
}
.image-container p {
    color: white;
    position: relative;
}