$themeGreen : rgba(41, 145, 113, 0.823); 
//--------------- Chat color themes --------------- \\
$sent_blue: rgba(43, 169, 201, 0.664);
$recieved_blue: rgba(51, 209, 248, 0.864);

$sent_green: rgb(23, 161, 69);
$recieved_green: rgb(109, 201, 126); 

$sent_pink: rgb(175, 65, 116);
$recieved_pink: rgb(211, 131, 191); 

//------------------------------------------------- \\