
.App{  background-color: rgb(41, 138, 109);
    min-height: 90vh;
}


.authentication{
    background-color: rgb(41, 138, 109);
    

}

@media screen and (max-width: 480px) {
    .authentication {
        padding-bottom: 55vh;
    }
  }